<div class="container">
  <div class="image">
    <img src="https://www.successmantra.in/assets/assestsnew/images/login-registration.png" alt="Singup_Image">
  </div>

  <div class="form_box">

    <div class="form_heading">
      <h1>Welcome!</h1>
      <h2>SignUp to your account</h2>
    </div>

    <div class="example-container">
      <mat-form-field appearance="fill">
        <mat-label>Enter your name</mat-label>
        <input class="input_f" name="name" matInput type="text" autocomplete="off" [(ngModel)]="name">
      </mat-form-field>
    </div>

    <div class="example-container">
      <mat-form-field appearance="fill">
        <mat-label>Enter your email</mat-label>
        <input class="input_f" name="email" matInput placeholder="abc@gmail.com" autocomplete="off" required  [(ngModel)]="email">
        <!-- [formControl]="email" -->
        <!-- <mat-error *ngIf="email.invalid">{{getEmailErrorMessage()}}</mat-error> -->
      </mat-form-field>
    </div>


    <div class="example-container">
      <mat-form-field appearance="fill">
        <mat-label>Enter your contact no.</mat-label>
        <input class="input_f" name="mobile" matInput type="tel" maxlength="10" autocomplete="off" [(ngModel)]="mobile">
      </mat-form-field>
    </div>


    <div class="example-container">
      <mat-form-field appearance="fill">
        <mat-label>Enter your password</mat-label>
        <input class="input_f" name="password" autocomplete="off" name="password" matInput [type]="hide ? 'password' : 'text'"  [(ngModel)]="password">
        <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
          [attr.aria-pressed]="hide">
          <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
      </mat-form-field>
    </div>

    <div class="example-container">
      <mat-form-field appearance="fill">
        <mat-label>Confirm password</mat-label>
        <input class="input_f" name="cpassword" autocomplete="off" matInput [type]="hide ? 'password' : 'text'"  [(ngModel)]="cpassword">
        <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
          [attr.aria-pressed]="hide">
          <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
      </mat-form-field>
    </div>

    <button class="submit_btn" mat-button type="submit" (click)="Registered()">Submit</button>


    <div class="links">
      <p>Already Have An Account? <a routerLink="/login">Login</a></p>
    </div>
  </div>

</div>
