.container {
  border-radius: 8px;
  border: 2px solid #000;
  background-color: transparent;
  /* background-color: whitesmoke; */
  box-shadow: 1px 1px 10px white;
  padding: 20px;
  width: 50%;
  height: fit-content;
  margin: auto;
  margin-top: 100px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.form_box {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

input {
  color: white;
  width: 200%;
  box-sizing: border-box;
}

.example-container .mat-form-field+.mat-form-field {
  margin-left: 18px;
}

.example-right-align {
  text-align: right;
}

input.example-right-align::-webkit-outer-spin-button,
input.example-right-align::-webkit-inner-spin-button {
  display: none;
}

input.example-right-align {
  -moz-appearance: textfield;
}

.example-container,
mat-form-field {
  color: white;
  width: 100%;
}

mat-label {
  color: white;
  font-size: large !important;
}

.input_f {
  font-size: large;
}

.form_heading {
  text-align: center;
  font-weight: 500;
  margin: 30px auto;
  font-size: 3rem;
  color: white;
  text-decoration: underline;
}

.form_heading h1 {
  font-size: 2.5rem;
}

.form_heading h2 {
  font-size: 1.2rem;
  margin-top: 30px;
  text-transform: capitalize;
}

.submit_btn {
  font-size: large;
  width: 200px;
  margin: auto;
  margin: 10px auto;
  padding: 5px 50px;
  color: black;
  background-color: white;
  box-shadow: 1px 1px 5px black;
}

.submit_btn:hover {
  box-shadow: none;
  transition: 0.5s;
}

.links {
  font-size: medium;
  text-align: center;
  margin-top: 10px;
}

.links a {
  text-decoration: none;
  color: white;
  font-weight: 500;
}

.links a:hover {
  text-decoration: underline;
}

@media screen and (max-width: 1200px) {
  .container {
    margin-top: 50px;
    width: 80%;
    flex-direction: column;
  }

}
