<div class="container">
  <div class="image">
    <img src="https://www.successmantra.in/assets/assestsnew/images/login-registration.png" alt="Singup_Image">
  </div>

  <div class="form_box">

    <div class="form_heading">
      <h1>Welcome!</h1>
      <h2>Login to your account</h2>
    </div>

    <div class="example-container">
      <mat-form-field appearance="fill">
        <mat-label>Enter your email</mat-label>
        <input class="input_f" name="email" matInput placeholder="abc@gmail.com" autocomplete="off" required [(ngModel)]="email">
        <!-- [formControl]="email" -->
        <!-- <mat-error class="errors" *ngIf="email.invalid">{{getEmailErrorMessage()}}</mat-error> -->
      </mat-form-field>
    </div>

    <div class="example-container">
      <mat-form-field appearance="fill">
        <mat-label>Enter your password</mat-label>
        <input class="input_f" name="password" autocomplete="off" matInput [type]="hide ? 'password' : 'text'" [(ngModel)]="password">
        <!-- [formControl]="password" -->
        <!-- <mat-error class="errors" *ngIf="password.invalid">{{getPasswordErrorMessage()}}</mat-error> -->
        <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
          [attr.aria-pressed]="hide">
          <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
      </mat-form-field>
    </div>

    <button class="submit_btn" mat-button type="submit" (click)="LoginUser()">Login</button>


    <div class="links">
      <p><a href="/">Forgot Your Password?</a></p>
      <p>Don't Have An Account? <a routerLink="/signup">SingUp</a></p>
    </div>
  </div>

</div>
