<div class="container pad-0">
  <h1 class="heading">Notes</h1>
  <div
    class="
      col-lg-6
      col-md-6
      col-sm-6
      col-xs-12
      col-lg-offset-3
      col-md-offset-3
      col-sm-offset-3
      bg
      pad-0
    "
  >
    <section class="content-section">
      <table class="styled-table">
        <thead>
          <tr>
            <th>S.No.</th>
            <th>Title</th>
            <th>Description</th>
            <th>Update</th>
            <th>Delete</th>
          </tr>
        </thead>
        <!-- <tbody *ngFor="let item of notesData; let i = index"> -->
          <tbody>
          <tr>
            <!-- <td>{{ item.id}}</td>
            <td>{{ item.title}}</td>
            <td>{{ item.description}}</td> -->
            <td>1</td>
            <td>holiday</td>
            <td>on wednesday 05 october 2022 is holiday on the occassion of dussehra.</td>
            <td><i class="material-icons update star-icon" title="Update" (click)="updateNotes">create</i></td>
            <td><i class="material-icons delete star-icon" title="Delete" (click)="deleteNotes">delete</i></td>
          </tr>
          <tr>
            <!-- <td>{{ item.id}}</td>
            <td>{{ item.title}}</td>
            <td>{{ item.description}}</td> -->
            <td>2</td>
            <td>Expense of the month</td>
            <td>Hi, here i am going to write my total expense of the this month, so please give me some time to calculate it !</td>
            <td><i
              class="material-icons update star-icon"
              title="Update"
              (click)="updateNotes()" 
              >
              <!-- (item.id) -->
              create
            </i></td>
            <td><i
              class="material-icons delete star-icon"
              title="Delete"
              (click)="deleteNotes()" 
              >
              <!-- (item.id) -->
              delete
            </i></td>
          </tr>
        </tbody>
      </table>
    </section>
  </div>
</div>
