.container{
  border-radius: 8px;
  border: 2px solid white;
}
.content-section, .styled-table, .container{
  /* width: 100%; */
  box-sizing: border-box;
  padding: 0;
  margin: 30px 10px;
}

.container .heading{
  text-align: center;
  font-size: 40px;
  font-weight: 500;
  text-decoration: underline;
  margin: 15px 0 10px 0;
  color: #f6f6f6;
}


table {
  font-family: arial, sans-serif;
  width: 100%;

}

.styled-table {
  border-collapse: collapse;
  margin: 10px 0;
  font-size: 0.9em;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.styled-table thead tr {
  background-color: white;
  color: black;
  text-align: left;
  font-size: 20px;
}

.styled-table th,
.styled-table td {
  padding: 12px 15px;
}

.styled-table td {
  color: black;
  font-size: 20px;
  font-weight: 400;
}

.styled-table tbody tr {
  border-bottom: 1px solid black;
}

.styled-table tbody tr:nth-of-type(even) {
  background-color: #f6f6f6;
}

.styled-table tbody tr:nth-of-type(odd) {
  background-color: #e9e9e9;
}

.styled-table tbody tr:last-of-type {
  border-bottom: 2px solid black;
}

.star-icon {
  text-align: center;
  font-size: 24px;
  cursor: pointer;
  color: black;
  margin-left: 15px;
}

.star-icon:hover{
  color: rgb(105, 103, 103);
}
