.header{
  height: 12vh;
  padding: 0 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 2px solid #fff;
  border-radius: 8px;
  background-color: transparent;
  box-shadow: 1px 1px 10px white;
}
.left_head{
  font-size: larger;
}
.right_head{
  display: flex;
  align-items: center;
}
.right_head button{
  font-size: large;
  margin: 0 10px;
  border-radius: 8px;
  border: 2px solid white;
  box-shadow: 1px 1px 5px white;
}
.right_head button:hover{
  transition: 0.5s;
  color: black;
  box-shadow: none;
  background-color: white;
}

