.header {
  height: 80px;
  padding: 0 50px;
  margin: 5px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 2px solid #fff;
  border-radius: 8px;
  background-color: transparent;
  box-shadow: 1px 1px 10px white;
}
.left_head {
  font-size: larger;
}
.right_head {
  display: flex;
  align-items: center;
}
.right_head .search {
  color: #fff;
  display: flex;
  align-items: center;
  font-size: large;
  margin: 0 10px;
  border-radius: 8px;
  border: 2px solid white;
  background-color: transparent;
}
.right_head .search input {
  width: 100%;
  border: none;
  color: #fff;
  caret-color: #fff;
  font-size: 18px;
  padding: 10px 12px;
  margin: 0;
  z-index: 1;
  background-color: transparent;
  box-shadow: inset 1px 1px 5px white, inset -1px -1px 5px white;
}
.right_head .search input::placeholder {
  color: #fff;
}
.right_head .search input:focus {
  outline: none;
  box-shadow: none;
}
.right_head .search .close {
  margin: 0;
  padding: 0;
  position: absolute;
  right: 300px;
  /* left: 1195px; */
  z-index: 1000;
  color: #fff;
  cursor: pointer;
  /* display: none; */
  visibility: hidden;
}
.right_head .search input:not(:placeholder-shown) + .right_head .search .close {
  display: block;
  visibility: visible;
}
.right_head button {
  font-size: large;
  margin: 0 10px;
  border-radius: 8px;
  border: 2px solid white;
  box-shadow: 1px 1px 5px white;
}
.right_head button:hover {
  transition: 0.5s;
  color: black;
  box-shadow: none;
  background-color: white;
}
